.sin_margen { margin-right:0px; margin-left:0px; }
.sin_padding { padding-left:0px; padding-right:0px;  }
.sin_flex { display:inherit; }

.sin_padding_der { padding-right:0px; }
.sin_padding_izq { padding-left:0px; }

.margen_arriba_1 { margin-top:1%; }
.margen_arriba_2 { margin-top:2%; }
.margen_arriba_3 { margin-top:3%; }
.margen_arriba_4 { margin-top:4%; }
.margen_arriba_5 { margin-top:5%; }

.margen_abajo_1 { margin-bottom:1%; }
.margen_abajo_2 { margin-bottom:2%; }
.margen_abajo_3 { margin-bottom:3%; }
.margen_abajo_4 { margin-bottom:4%; }
.margen_abajo_5 { margin-bottom:5%; }

.padding_arriba_1 { padding-top:1%; }
.padding_arriba_2 { padding-top:2%; }
.padding_arriba_3 { padding-top:3%; }
.padding_arriba_4 { padding-top:4%; }
.padding_arriba_5 { padding-top:5%; }

.padding_abajo_1 { padding-bottom:1%; }
.padding_abajo_2 { padding-bottom:2%; }
.padding_abajo_3 { padding-bottom:3%; }
.padding_abajo_4 { padding-bottom:4%; }
.padding_abajo_5 { padding-bottom:5%; }

body { font-family: 'Montserrat', sans-serif; }

.bold { font-weight:700; }
.extra_bold { font-weight:900; }

.barra_menu { position:absolute; width:100%; background-color:transparent !important; }

.navbar-nav { margin-top:43px; }

.nav-link { color:#FFF !important; font-size:13px; margin-right:15px; }

.navbar-light .navbar-toggler-icon { 
background:url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.6)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); 
}

.navbar-light .navbar-toggler { border-color:rgba(255,255,255,0.3); }

.menu_activo { background-color:#158fcc; padding:2px 14px !important; color:#FFF; border-radius:25px; margin-top:.35rem; }

.separador_azul { background-color:#158fcc; width:4px; height:100%; margin-left:15px; margin-right:15px; }

.cont_texto_banner { position:absolute; top:30%; width:100%; text-align:center; overflow:hidden; }

.texto_banner { font-size:46px; color:#FFF;  }

.bot_comenzar { color:#158fcc; padding:10px 45px; border-radius:25px; margin-top:5%; background-color:#FFF; font-size:18px; display:inline-block; animation-delay:0.3s; }

.bot_ruedita { display:inline-block; margin-top:5%; animation-name:ruedita; animation-duration:1s; animation-iteration-count: infinite; animation-direction: alternate; }

@keyframes ruedita {
  0%   { margin-top:4%;}
  100% { margin-top:6%;}
}

.logo_color { visibility:hidden; }

.tit_home { color:#3c3839; font-size:36px; font-weight:900; line-height:1.2; }

.bg_recruiting { background-image:url('../imagenes/banner_reclutamiento.jpg'); background-size:cover; background-repeat:no-repeat; }

.cuadro_reclu { background-color:rgba(13,121,176,0.9); color:#FFF; padding:30px; padding-top:12%; padding-bottom:12%; }

.bajada_reclu { visibility:hidden; color:#fff; font-size:15px;  font-weight:500; margin-top:2%; margin-bottom:0px; }

.tit_reclu { visibility:hidden; font-size:40px; font-weight:500; margin-bottom:10px; }

.subtit_reclu { font-weight:700; font-size:22px; margin-top:30px; }

.rec_1 { visibility:hidden; animation-delay:0.1s; }
.rec_2 { visibility:hidden; animation-delay:0.2s; }
.rec_3 { visibility:hidden; animation-delay:0.3s; }
.rec_4 { visibility:hidden; animation-delay:0.4s; }
.rec_5 { visibility:hidden; animation-delay:0.5s; }
.rec_6 { visibility:hidden; animation-delay:0.6s; }

.bot_propuestas { color:#158fcc; padding:10px 32px; border-radius:25px; margin-top:10%; background-color:#FFF; font-size:14px; display:inline-block; text-transform:uppercase; font-weight:700; margin-bottom:4%; }

.tit_seccion_azul { color:#2a9ee2; font-size:16px; text-align:center; font-weight:500; margin-top:4%; margin-bottom:6px; }

.tit_seccion_chico_blanco { color:#fff; font-size:16px; text-align:center; font-weight:500; margin-top:10%; margin-bottom:10px; }

.tit_seccion_blanco { color:#fff; font-size:36px; margin-bottom:2%; text-align:center; line-height:1.2; }

.tit_seccion { color:#393939; font-size:36px; margin-bottom:10%; text-align:center; line-height:1.2; }

.cuadro_servicios { text-align:center; padding:25px 30px; min-height:370px; margin-bottom:25%;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.25);
box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.25);
 }

 .caja_1 { visibility:hidden;  }

 .caja_2 { visibility:hidden; animation-delay:0.6s; }

 .caja_3 { visibility:hidden; animation-delay:1.2s; }

.tit_servicios { text-align:left; color:#393939; font-weight:500; font-size:20px; margin-top:20px; }

.linea_servicios { text-align:left; background-color:#158fcc; width:40px; height:4px; margin-top:10px; margin-bottom:20px; }

.texto_servicios { text-align:left; color:#393939; }

.bg_calidad { background-image:url('../imagenes/bg_calidad.jpg'); background-size:cover; background-repeat:no-repeat; }

.tit_dev_1 { visibility:hidden; }

.tit_dev_2 { visibility:hidden; animation-delay:0.2s; }

.tit_calidad { visibility:hidden; animation-delay:0.3s; font-size:24px; font-weight:500; color:#FFF; line-height:1.4; margin:18% 0; }

.texto_calidad { visibility:hidden; animation-delay:0.4s; color:#FFF;  margin:8% 0; font-size:18px; line-height:1.7; }

.img_staff { visibility:hidden; }

.tit_expertise { visibility:hidden; animation-delay:0.2s; font-weight:700; color:#393939; font-size:22px; text-align:left; margin-bottom:30px; margin-top:30px; }

.texto_expertise { visibility:hidden; animation-delay:0.5s; color:#393939; font-weight:300;   text-align:left; }

.bg_numeros { background-image:url('../imagenes/bg_numeros.jpg'); background-size:cover; background-repeat:no-repeat; margin-top:5%; margin-bottom:5%; }

.caja_num_1 { visibility:hidden; }
.caja_num_2 { visibility:hidden; animation-delay:0.1s; }
.caja_num_3 { visibility:hidden; animation-delay:0.2s; }
.caja_num_4 { visibility:hidden; animation-delay:0.3s; }

.cuadro_numeros { margin:7% 0; text-align:center; }
.cuadro_numeros img { display:block; margin:0 auto; }

.numeros { color:#FFF; font-size:44px; font-weight:300; display:inline-block; }

.count { visibility:hidden; }

.cero { color:#FFF; font-size:44px; font-weight:300; display:inline-block; }

.tit_numeros { color:#FFF; font-weight:700; font-size:14px; }

.foto_g_1 { visibility:hidden; }

.foto_g_2 { visibility:hidden; animation-delay:0.4s; }

.texto_experiencia { visibility:hidden; margin-top:-20; margin-left:15px; margin-left:16px; animation-delay:0.2s; }

.texto_experiencia_2 { visibility:hidden;  margin-top:-20; margin-left:12px;  margin-top:0 ; animation-delay:0.5s; }

.linea_punteada { margin-bottom:-35%; margin-top:-12%; }

.bg_expertise { background-image:url('../imagenes/bg_expertise.png'); background-size:cover; background-repeat:no-repeat; }

.tit_banner_expertise { visibility:hidden; text-align:center; font-size:50px; font-weight:300; color:#FFF; line-height:1.2; margin-top:5%; }

.texto_banner_expertise { visibility:hidden; animation-delay:0.3s; text-align:center; color:#FFF; font-size:22px; font-weight:700; margin-bottom:5%; }

.tit_staffing { color:#393939; font-size:38px; margin-top:11%; font-weight:500; margin-bottom:7%; }

.texto_staffing { visibility:hidden; font-size:18px; }

.texto_azul_staffing { visibility:hidden; animation-delay:0.2s; color:#2a9ee2; margin:5% 0; font-weight:700;  }

.check_staffing { visibility:hidden; animation-delay:0.4s; margin-bottom:25%; }

.check_azul {  }

.img_staffing { visibility:hidden; animation-delay:0.5s; margin-top:10%; }

.bg_gris { background-color:#f8f8f8; }

.tit_eligen { text-align:center; color:#393939; font-size:38px; margin-top:7%; font-weight:500; margin-bottom:6%; }

.clientes_1 { visibility:hidden; }
.clientes_2 { visibility:hidden; }
.clientes_3 { visibility:hidden; }
.clientes_4 { visibility:hidden; }

.img_clientes { margin-bottom:7%; max-width:100px; }

.bg_contacto { background-image:url('../imagenes/bg_contacto.jpg'); background-size:cover; background-repeat:no-repeat; padding-bottom:5%; }

.tit_contacto { text-align:center; color:#FFF; font-size:38px; margin-top:7%; font-weight:500; margin-bottom:6%; }

.formulario { visibility:hidden; margin-top:30px; margin-right:20px; }

.input { width:100%; margin-bottom:20px; border-radius:5px; border:none; padding:9px 8px; }

.textarea { width:100%; margin-bottom:20px; border-radius:5px; border:none; padding:9px 8px; }

.bot_enviar { background-color:#158fcc; border-radius:20px; color:#FFF; border:none; padding:6px 40px; }

.borde_izq { border-left:1px solid #FFF; }

.tit_pais { color:#FFF;  font-weight:700; margin-bottom:20px; }

.tit_pais img { margin-right:10px; }

.info_contacto { visibility:hidden; animation-delay:0.2s; color:#FFF; margin-left:20px; margin-top:30px; line-height:1; }

.info_contacto i { margin-right:12px; }

.borde_contacto_arriba { border-top:1px solid #FFF; padding-top:25px; margin-top:30px; }

.bg_footer { background-color:#343a40; padding-top:2%; padding-bottom:4%; }

.logo_footer { width:70%; }

.tit_footer { border-bottom:3px solid #158fcc; color:#FFF; font-size:14px; display:inline-block; margin-bottom:6px; padding-bottom:10px; margin-top:18px; }
.tit_footer span { margin-right:14px; }
.tit_footer span:nth-child(3) { margin-right:0px; }

.info_footer { color:#FFF; line-height:1.1; font-size:15px; }

.redes_footer { margin-top:30px; text-align:right; }
.redes_footer a { margin-right:20px; }
.redes_footer i { color:#343a40; font-size:22px; background-color:#FFF; border-radius:50%; padding:6px 7px; }

.bot_face_footer i { color:#343a40; font-size:22px; background-color:#FFF; border-radius:50%; padding:6px 11px; }

.redes_footer a:hover { text-decoration:none; }

.bg_sub_footer { background-color:#272c31; padding-top:.5%; padding-bottom:.5%; }

.bot_subfooter { text-align:center; color:#848485; }
.bot_subfooter a { color:#848485; font-size:14px; margin-right:25px; margin-left:25px; }
.bot_subfooter a:nth-child(1) { margin-left:0px; }
.bot_subfooter a:nth-child(2) { margin-right:0px; }

.bot_top { position:fixed; bottom:20px; right:20px;   display:none; opacity:0.7; }
.bot_top a { color:#FFF; font-size:20px; background-color:#777; padding:10px;   }
.bot_top i { }


/****************** POP UP ***************************/

.bot_postulate { margin:0 auto; margin-top:20px; margin-bottom:-30px; display:table; background-color:#158ecb; border-radius:15px; color:#FFF; padding:5px 40px; }
.bot_postulate:hover { color:FFF; }

.tit_pop { color:#393939; font-size:22px; font-weight:700; }

.subtit_pop { color:#393939; }

.linea_pop { background-color:#393939; width:100%; height:2px; margin-top:10px; margin-bottom:10px; }

.texto_pop { font-size:13px; }

.img_pop { margin-top:10px; }

.modal-content { background-color:transparent; border:none; }

.fondo_blanco { background-color:#FFF !important; }

@media (max-width: 767px) { 

	.navbar-nav { margin-top:0px; }

	.navbar-collapse { background-color:#000; z-index: 5; margin-left:-15px; padding-left:15px; margin-right:-15px; padding-right:15px; }

	.texto_calidad { margin-top:5%; }

	.texto_calidad br { display:none; }

	.tit_calidad { margin-bottom:5%; }

	.img_staffing { margin-top:10%; margin-bottom:10%; }

	.check_staffing { margin-bottom:5%; }

	.tit_banner_expertise { font-size:36px; }

	.texto_banner_expertise { font-size:18px; }

	.logo_footer { width:60%; margin:0 auto; display:block; }

	.tit_footer { display:block; margin:0 auto; width:90%; margin-bottom:30px; margin-top:30px; }

	.info_footer { width:90%; margin:15px auto; }

	.info_contacto { margin-top:40px; margin-bottom:20px; }

	.banner_home { min-height:500px; object-fit:cover; }

	.texto_banner { font-size:24px; }

	.cont_texto_banner { top:25%; }

	.separador_azul { width:100%; height:2px; margin-left:0px; margin-top:10px; margin-bottom:10px; }

	.div_ico_cliente { width:33%; flex-grow:unset; flex-basis:auto; }

	.no_most { display:none; }

	.img_clientes { margin-top:10px; }

	.numeros { font-size:32px; }

}


@media (max-width: 500px) { 

	.navbar-brand { width:60%; }
}