<router-outlet></router-outlet>
<!--NAV-->
	
	
<nav class="navbar navbar-expand-lg navbar-light bg-light barra_menu">
  <div class="container">
    <a class="navbar-brand" href=""><img style="margin-left: -3px;" src="assets/imagenes/logo.png"  class="img-fluid"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse col-md-auto" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto" style="margin-top: 0;" >
        <li class="nav-item">
          <a class="nav-link scroll" style="text-align:center;"  href="#software_dev">SOFTWARE DEVELOPMENT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll" style="text-align:center;" href="#staff">STAFF AUGMENTATION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll" style="text-align:center;" href="#recruiting">HEAD HUNTING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll" style="text-align:center;  " href="#contact">CONTACT</a>
        </li>

        <li class="nav-item"><div class="separador_azul" style="display:none;" ></div></li>

        <li class="nav-item">
          <a class="nav-link" style="text-align:center; display:none;"  href="https://hvtalent.com/esp">ESP</a>
        </li>

        <li class="nav-item">
          <a class="nav-link menu_activo"  style="text-align:center; display:none;"   href="#">ENG</a>
        </li>

      </ul>
     
    </div>
  </div>
</nav>

<!-- HOME -->
 
<div class="row sin_margen sin_flex" style="overflow:hidden;">

	<img src="assets/imagenes/banner_home.jpg" class="img-fluid banner_home">

	<div class="cont_texto_banner">
		<div class="texto_banner animated bounceInLeft">
			<b>Nearshore Custom Development</b>
		</div>

		<a href="#software_dev" style="text-decoration:none; color:#FFFFFF; background-color:#158fcc;" class="bot_comenzar animated bounceInLeft scroll">Begin</a> <br> <br>

		<a href="#software_dev" class="bot_ruedita scroll"><img src="assets/imagenes/scroll.png" class="img-fluid"></a>
	</div>

</div>
 


<div    class="row sin_margen margen_arriba_2  ">

	<div class="container">

		<div class="row">

			 
			<!--<div class="col-md-6">
				<div class="tit_home">
					Consultora <br>
					especializada<br>
					en Recruiting de <br>
					Talentos IT & Telco 
				</div>
			</div>-->

			<div style="display:none;"   class="col-md-10 offset-md-1" id="logo_color">
				<img src="assets/imagenes/logo_color.png" class="img-fluid logo_color">
			</div>
			
			
			 
		</div>

	</div>

</div>



<div style=" display:none;" class="row sin_margen sin_flex">
	<img src="assets/imagenes/bg_home.png" class="img-fluid">
</div>

<div class="row sin_margen bg_calidad" >

	<div class="container">
		
		
			<div class="tit_seccion_chico_negro tit_dev_1 default_titulo"     id="software_dev">WORKFORCE TEAM</div>

			<div class="tit_seccion_negro tit_dev_2 big_default_title"   >Software Development<br><br>
			
			<span style="text-align:center;"> 
				<img src="assets/imagenes/program/cnet.jpg" class="img-fluid" style="padding: 3px 0 3px 0;">
				<img src="assets/imagenes/program/angular.jpg" class="img-fluid" style="padding: 3px 0 3px 0;">
				<img src="assets/imagenes/program/ionic.jpg" class="img-fluid" style="padding: 3px 0 3px 0;">
				<img src="assets/imagenes/program/react.jpg" class="img-fluid" style="padding: 3px 0 3px 0;">
				<img src="assets/imagenes/program/nodejs.jpg" class="img-fluid" style="padding: 3px 0 3px 0;"> 
				<img src="assets/imagenes/program/typescript.jpg" class="img-fluid" style="padding: 3px 0 3px 0;">
			</span>
			 
		</div>

		<div class="row"  > 
			<div class="col-md-4">
				<div class="texto_calidad default_text" style="text-align: justify; text-justify: inter-word;"> 
				We are an IT services company based in the USA, with our development centers in ARG, LATAM and Eastern Europe. Our engineers have over 10 years of experience in the software industry, allowing us to deliver projects on time and on budget. 
				</div>
			</div>
			
			<div class="col-md-4">
				<div class="texto_calidad default_text" style="text-align: justify; text-justify: inter-word;">
				We have an expert CTO that provides Software Architecture solutions analyzing and applying the most convenient technologies for each solution. Our teams of expert engineers offer high-value technology solutions.
					
				</div>
			</div>
			
			<div class="col-md-4">
				<div class="texto_calidad default_text" style="text-align: justify; text-justify: inter-word;">
				Delivering innovative solutions using diverse and modern technologies. 
				We prioritize quality and as a fundamental pillar of our work. All customers recommend and choose us again.
				</div>
			</div>
			 
		</div> 

	</div>

</div>


<div  class="row sin_margen bg_expertise margen_arriba_4">

	<div class="container"> 

			<div class="tit_banner_expertise" id="expertise">ENGINNERING YOUR FUTURE</div>

			<div class="texto_banner_expertise">Powered by High Value Talent</div>
		

	</div>

</div>


<div class="row sin_margen">

	<div class="container">

			<!--<div class="tit_seccion_azul">WE HAVE THE EXPERIENCE</div>-->

			<div class="tit_seccion margen_arriba_5 big_default_title" id="servicios">What you get with us</div>

		

		<div class="row">

			<div class="col-md-4">
				<div class="cuadro_servicios caja_1">
					<img src="assets/imagenes/ico_altavoz.png" class="img-fluid">

					<div class="tit_servicios default_text_bold" style="text-align:center;">Effective communication<br /><br /></div>

					<div class="linea_servicios"></div>

					<div class="texto_servicios default_text_soft"  style="text-align: justify; text-justify: inter-word;"> 
						Our teams of engineers located in America & Europe provide solutions in the hourly course you need.
					</div>
				</div>
			</div> <!-- FIN COL-MD-4 -->

			<div class="col-md-4">
				<div class="cuadro_servicios caja_2">
					<img src="assets/imagenes/ico_dinero.png" class="img-fluid">

					<div class="tit_servicios default_text_bold" style="text-align:center;">Estimated times<br /><br /></div>

					<div class="linea_servicios"></div>

					<div class="texto_servicios default_text_soft"  style="text-align: justify; text-justify: inter-word;">
						With more than 10 years of experience and best practices, our estimations are accurate, and our costs competitive worldwide.<br><br>
					</div>
				</div>
			</div> <!-- FIN COL-MD-4 -->

			<div class="col-md-4">
				<div class="cuadro_servicios caja_3">
					<img src="assets/imagenes/ico_pc.png" class="img-fluid">

					<div class="tit_servicios default_text_bold"style="text-align:center;">Integral solutions<br /><br /></div>

					<div class="linea_servicios"></div>

					<div class="texto_servicios default_text_soft" style="text-align: justify; text-justify: inter-word;"> 
						The technical capabilities of our engineers allow us to create and develop the best solutions, tailored to each client: Apps Mobiles/Webs and API Services.
					</div>
				</div>
			</div> <!-- FIN COL-MD-4 -->

		</div>

	</div>

</div>


<div class="row sin_margen bg_numeros">

	<div class="container">

		<div class="row" id="numeros">

			<div class="col-md-3 col-6 cuadro_numeros caja_num_1">
				<img src="assets/imagenes/ico_check.png" class="img-fluid">

				<span class="numeros">+</span><span class="cero">0</span><div class="numeros count">1000</div> 

				<div class="tit_numeros">COVERED POSITIONS PER YEAR</div>
			</div>

			<div class="col-md-3 col-6 cuadro_numeros caja_num_2">
				<img src="assets/imagenes/ico_like.png" class="img-fluid">

				<span class="numeros">+</span><span class="cero">0</span><div class="numeros count">600</div> 

				<div class="tit_numeros">HAPPY CLIENTS</div>
			</div>

			<div class="col-md-3 col-6 cuadro_numeros caja_num_3">
				<img src="assets/imagenes/ico_estrella.png" class="img-fluid">

				<span class="numeros">+</span><span class="cero">0</span><div class="numeros count">200</div> 

				<div class="tit_numeros">PROJECTS COMPLETED</div>
			</div>

			<div class="col-md-3 col-6 cuadro_numeros caja_num_4">
				<img src="assets/imagenes/ico_cafe.png" class="img-fluid">

				<span class="numeros"></span><span class="cero"></span><div class="numeros"><i class="fas fa-infinity"></i></div> 

				<div class="tit_numeros">CUPS OF COFFEE</div>
			</div>
			
		</div>	

	</div>

</div>


<div class="row sin_margen">

	<div class="container">
 
			<div class="tit_seccion_azul default_titulo">WE HAVE THE KNOW-HOW</div>

			<div class="tit_seccion big_default_title" id="staff">IT Staff Augmentation</div>


		<div class="row">

			<div class="col-md-6">
				<img src="assets/imagenes/foto_staff.jpg" class="img-fluid img_staff">
			</div>

			<div class="col-md-6  align-self-center">
				<div class="texto_expertise default_text align-items-center" style="text-align: justify; text-justify: inter-word;">
			 					 We are an US Corporation with over 10 years of experience working with world-class clients who can support us.<br><br>In Argentina & LATAM you will find all the technical talent you need.<br><br>
We have on our payroll a wide variety of profiles: Software Engineers, PM, AF and QA. You can contract on-demand per hour, days, months, fixed price, or turnkey projects. Build the best IT teamwork ever with us.
				</div>
			</div>
			
		</div>
		<div class="row margen_arriba_5">

			<div class="col-md-6">


				<div class="texto_staffing default_text"  style="text-align: justify; text-justify: inter-word;">
				We work with different countries locating IT talent. We carry out a technical evaluation of all our engineers.
				</div>

				<div class="texto_azul_staffing">
					We offer the service with the following characteristics:
				</div>

				<div class="check_staffing default_text_soft"  style="margin-left:17px">
					    <img src="assets/imagenes/check.png" class="img-fluid check_azul"> Complete recruiting process.<br> 
					    <img src="assets/imagenes/check.png" class="img-fluid check_azul"> Psychotechnical.<br>
					    <img src="assets/imagenes/check.png" class="img-fluid check_azul"> Monthly presence in customers.<br>
					    <img src="assets/imagenes/check.png" class="img-fluid check_azul"> Account Executive assigned.<br>
					    <img src="assets/imagenes/check.png" class="img-fluid check_azul"> Strategic ally.<br>
					    <img src="assets/imagenes/check.png" class="img-fluid check_azul"> Personalized management.<br>
					    <img src="assets/imagenes/check.png" class="img-fluid check_azul"> Payroll.<br>
					    <img src="assets/imagenes/check.png" class="img-fluid check_azul"> HR Administration.<br>
					    <img src="assets/imagenes/check.png" class="img-fluid check_azul"> Active retention policies.<br>
					    <img src="assets/imagenes/check.png" class="img-fluid check_azul"> Technical training and languages.<br>
					    <img src="assets/imagenes/check.png" class="img-fluid check_azul"> First-rate medical prepaid.<br>
					    <img src="assets/imagenes/check.png" class="img-fluid check_azul"> All coverage and insurance up to date. 

				</div>
			</div>

			<div class="col-md-6">
				<img src="assets/imagenes/foto_staffing.png" class="img-fluid img_staffing">
			</div>

		</div>		

	</div>

</div>





<div class="row sin_margen margen_abajo_5">

	<div class="container">

		<div class="row">

			<div class="col-md-5 align-self-center">
				<div class="texto_experiencia default_text" id="exp"  style="text-align: justify; text-justify: inter-word;">  
					This year we have cover more than 600 technological positions throughout the world because Argentina is a country that has a large number of highly trained bilingual engineers, at a very competitive price in relation to the world and the region. <br><br>
					HV Talent provides all the roles needed to complete the team you require. This team is typically composed by a PM, SW engineers, QA engineers and other roles that are defined for each specific project. Management is conducted jointly by High Value Scrum Master / Project Manager and Client’s Product Owner.
				</div>
			</div>

			<div class="col-md-1"></div>

			<div class="col-md-6">
				<img src="assets/imagenes/foto_grupo_1.jpg" class="img-fluid foto_g_1">
			</div>

			<div class="col-md-12 text-center" > <img src="assets/imagenes/linea_punteada.png" class="img-fluid linea_punteada"> </div>

			<div class="col-md-6">
				<img src="assets/imagenes/foto_grupo_2.jpg" class="img-fluid foto_g_2">
			</div>

			

			<div class="col-md-6">

				<div class="texto_experiencia_2 default_text"  style="text-align: justify; text-justify: inter-word;">  <br> 
				Your Extended Team works as part of your local team, attending your regular daily meetings and reporting directly to your managers, proving to be a real competitive advantage for your business.
All our team members are 100% bilingual and have 10+ years of experience in their field. Our rigorous selection process ensures that we only work with experienced Top 2% IT talent.<br><br> The Dedicated Team works autonomously, but communicates and reports status as often as requested by you. Our expert Dedicated Teams work swiftly in sprints to efficiently attack the backlog while maintaining the flexibility to re-prioritize and adjust to deliver the best possible product.
				
				</div>


				
			</div>
 

		</div>

	</div>

</div>



<div class="row sin_margen bg_recruiting">

	<div class="container">

		<div class="row">

			<div class="col-md-6">

			</div>

			<div class="col-md-6">
				<div class="cuadro_reclu">
					<div class="bajada_reclu">WE OFFER YOU THE BEST</div>
					
					<div class="tit_reclu" id="recruiting">Head Hunting </div>

					<div class="subtit_reclu rec_1">Companies </div>

					<div class="texto_reclu rec_2" style="text-align: justify; text-justify: inter-word;">
						We get the best engineers in the fastest way to work exclusively under your payroll. We work in a specialized way and we can recruit you the best 2% IT talent.
					</div>

					

					<div class="subtit_reclu rec_4">Candidates</div>

					<div class="texto_reclu rec_5" style="text-align: justify; text-justify: inter-word;">
						We have the best job offers in the IT market: International clients, 100% remote positions, you can use the English language daily and the best salary conditions in the market.
					</div>

					<a href="#" data-toggle="modal" style="display:none;" data-target="#exampleModalCenter" class="bot_propuestas rec_6">Proposals </a>
				</div>
			</div>

		</div>

	</div>

</div>



<div style="display:none;" class="row sin_margen">

	<div class="container">

				<div class="tit_seccion_azul">WE KNOW WHAT TO DO AND HOW TO DO IT</div>
				<div class="tit_seccion" id="staffing">Staff Augmentation</div>

		

	</div>

</div>





<div class="row sin_margen bg_gris">

	<div class="container text-center">

		

			<div class="tit_eligen big_default_title" id="clientes" >Who choose us</div>

			<div class="row clientes_1 margen_arriba_5"> 
				<div class="div_ico_cliente col-md-2"><img src="assets/imagenes/logos/allianz.png" class="img-fluid img_clientes"></div>
				<div class="div_ico_cliente col-md-2"><img src="assets/imagenes/logos/banco_galicia.png" class="img-fluid img_clientes"></div>
				<div class="div_ico_cliente col-md-2"><img src="assets/imagenes/logos/axa.png" class="img-fluid img_clientes"></div>
				<div class="div_ico_cliente col-md-2"><img src="assets/imagenes/logos/atos.png" class="img-fluid img_clientes"></div>
				<div class="div_ico_cliente col-md-2"><img src="assets/imagenes/logos/cajadevalores.png" class="img-fluid img_clientes"></div>
				<div class="div_ico_cliente col-md-2"><img src="assets/imagenes/logos/charlestaylor.png" class="img-fluid img_clientes"></div> 
			</div>

			<div class="row clientes_2 margen_arriba_5"> 
				<div class="col div_ico_cliente"><img src="assets/imagenes/logos/mercado_libre.png" class="img-fluid img_clientes"></div>
				<div class="col div_ico_cliente"><img src="assets/imagenes/logos/metrotel.png" class="img-fluid img_clientes"></div>
				<div class="col div_ico_cliente"><img src="assets/imagenes/logos/grupo_hasar.png" class="img-fluid img_clientes"></div>
				<div class="col div_ico_cliente"><img src="assets/imagenes/logos/colegiodeescribanos.png" class="img-fluid img_clientes"></div>
				<div class="col div_ico_cliente"><img src="assets/imagenes/logos/containn.png" class="img-fluid img_clientes"></div>
				<div class="col div_ico_cliente"><img src="assets/imagenes/logos/ernstyoung.png" class="img-fluid img_clientes"></div> 
			</div>	

			<div class="row clientes_3 margen_arriba_5"> 
				<div class="col div_ico_cliente"><img src="assets/imagenes/logos/nec.png" class="img-fluid img_clientes"></div>
				<div class="col div_ico_cliente"><img src="assets/imagenes/logos/redhat.png" class="img-fluid img_clientes"></div>
				<div class="col div_ico_cliente"><img src="assets/imagenes/logos/mrm_mccann.png" class="img-fluid img_clientes"></div> 
				<div class="col div_ico_cliente"><img src="assets/imagenes/logos/infotree.png" class="img-fluid img_clientes"></div>
				<div class="col div_ico_cliente"><img src="assets/imagenes/logos/intel.png" class="img-fluid img_clientes"></div>
				<div class="col div_ico_cliente"><img src="assets/imagenes/logos/ldc.png" class="img-fluid img_clientes"></div> 
			</div>		
			
			<div class="row clientes_2 margen_arriba_5"> 
				<div class="col div_ico_cliente"><img src="assets/imagenes/logos/phillipmorris.png" class="img-fluid img_clientes"></div>
				<div class="col div_ico_cliente"><img src="assets/imagenes/logos/possible.png" class="img-fluid img_clientes"></div>
				<div class="col div_ico_cliente"><img src="assets/imagenes/logos/totvs.png" class="img-fluid img_clientes"></div> 
				<div class="col div_ico_cliente"><img src="assets/imagenes/logos/valtech.png" class="img-fluid img_clientes"></div>
				<div class="col div_ico_cliente"><img src="assets/imagenes/logos/wolox.png" class="img-fluid img_clientes"></div>
				<div class="col div_ico_cliente"><img src="assets/imagenes/logos/wonderman.png" class="img-fluid img_clientes"></div> 
			</div>	

			<div class="row clientes_1 margen_arriba_5 margen_abajo_3"> 
				<div class="col-md-3 no_most div_ico_cliente"></div>
				<div class="col div_ico_cliente"><img src="assets/imagenes/logos/ocasa.png" class="img-fluid img_clientes"></div>
				<div class="col div_ico_cliente"><img src="assets/imagenes/logos/webdotcom.png" class="img-fluid img_clientes"></div>
				<div class="col div_ico_cliente"><img src="assets/imagenes/logos/leandergames.png" class="img-fluid img_clientes"></div> 
				<div class="col-md-3 no_most div_ico_cliente"></div> 
			</div>			 
	</div>

</div>

<contactoForm></contactoForm>

<!-- Modal -->
<div class="modal fade" id="terminos" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content fondo_blanco">

    	<div class="modal-header">
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    	<div class="modal-body">
			1. Introducción<br><br>

			Las presentes condiciones generales de uso de la página web, regulan los términos y condiciones de acceso y uso de www.hvtalent.com, propiedad de High Value Talent, con domicilio en Libertad 257, Piso 5ª I - CP: 1012 CABA Argentina y con Código de Identificación Fiscal número (indicar), en adelante, «la Empresa», que el usuario del Portal deberá de leer y aceptar para usar todos los servicios e información que se facilitan desde el portal. El mero acceso y/o utilización del portal, de todos o parte de sus contenidos y/o servicios significa la plena aceptación de las presentes condiciones generales de uso. <br><br>

			2. Condiciones de uso<br><br>

			Las presentes condiciones generales de uso del portal regulan el acceso y la utilización del portal, incluyendo los contenidos y los servicios puestos a disposición de los usuarios en y/o a través del portal, bien por el portal, bien por sus usuarios, bien por terceros. No obstante, el acceso y la utilización de ciertos contenidos y/o servicios puede encontrarse sometido a determinadas condiciones específicas.<br><br>

			3.   Modificaciones<br><br>

			La empresa se reserva la facultad de modificar en cualquier momento las condiciones generales de uso del portal. En todo caso, se recomienda que consulte periódicamente los presentes términos de uso del portal, ya que pueden ser modificados.<br><br>

			4. Obligaciones del Usuario<br><br>

			El usuario deberá respetar en todo momento los términos y condiciones establecidos en las presentes condiciones generales de uso del portal. De forma expresa el usuario manifiesta que utilizará el portal de forma diligente y asumiendo cualquier responsabilidad que pudiera derivarse del incumplimiento de las normas.<br><br>

			Así mismo, el usuario no podrá utilizar el portal para transmitir, almacenar, divulgar promover o distribuir datos o contenidos que sean portadores de virus o cualquier otro código informático, archivos o programas diseñados para interrumpir, destruir o perjudicar el funcionamiento de cualquier programa o equipo informático o de telecomunicaciones.<br><br>

			5. Responsabilidad del portal<br><br>

			El usuario conoce y acepta que el portal no otorga ninguna garantía de cualquier naturaleza, ya sea expresa o implícita, sobre los datos, contenidos, información y servicios que se incorporan y ofrecen desde el Portal.<br><br>

			Exceptuando los casos que la Ley imponga expresamente lo contrario, y exclusivamente con la medida y extensión en que lo imponga, el Portal no garantiza ni asume responsabilidad alguna respecto a los posibles daños y perjuicios causados por el uso y utilización de la información, datos y servicios del Portal.<br><br>

			En todo caso, el Portal excluye cualquier responsabilidad por los daños y perjuicios que puedan deberse a la información y/o servicios prestados o suministrados por terceros diferentes de la Empresa. Toda responsabilidad será del tercero ya sea proveedor o colaborador.<br><br>

			6. Propiedad intelectual e industrial<br><br>

			Todos los contenidos, marcas, logos, dibujos, documentación, programas informáticos o cualquier otro elemento susceptible de protección por la legislación de propiedad intelectual o industrial, que sean accesibles en el portal corresponden exclusivamente a la empresa o a sus legítimos titulares y quedan expresamente reservados todos los derechos sobre los mismos. Queda expresamente prohibida la creación de enlaces de hipertexto (links) a cualquier elemento integrante de las páginas web del Portal sin la autorización de la empresa, siempre que no sean a una página web del Portal que no requiera identificación o autenticación para su acceso, o el mismo esté restringido.<br><br>

			En cualquier caso, el portal se reserva todos los derechos sobre los contenidos, información datos y servicios que ostente sobre los mismos. El portal no concede ninguna licencia o autorización de uso al usuario sobre sus contenidos, datos o servicios, distinta de la que expresamente se detalle en las presentes condiciones generales de uso del portal.<br><br>

			7. Legislación aplicable, jurisdicción competente y notificaciones<br><br>

			Las presentes condiciones se rigen y se interpretan de acuerdo con las Leyes de Argentina. Para cualquier reclamación serán competentes los juzgados y tribunales de CABA. Todas las notificaciones, requerimientos, peticiones y otras comunicaciones que el Usuario desee efectuar a la Empresa titular del Portal deberán realizarse por escrito y se entenderá que han sido correctamente realizadas cuando hayan sido recibidas en la siguiente dirección info@hvtalent.com .

		</div>

	</div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    	<a href="#contact" class="bot_pop"><img src="assets/imagenes/pop-up.png" class="img-fluid"></a>
      <!--<div class="modal-header">
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>-->
     <!-- <div class="modal-body">

      	<div class="row margen_arriba_5">
      		<div class="col-md-5">
      			<img src="assets/imagenes/proposal_1.png" class="img-fluid img_pop">
      		</div>

      		<div class="col-md-7">
      			<div class="tit_pop">OFERTA-1</div>

      			<div class="subtit_pop">Descripción breve oferta</div>

      			<div class="linea_pop"></div>

      			<div class="texto_pop">
      				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat ligula neque, eget sagittis orci ultricies id. Pellentesque scelerisque accum
      			</div>
      		</div>
      	</div>

      	<div class="row margen_arriba_5">
      		<div class="col-md-5">
      			<img src="assets/imagenes/proposal_2.png" class="img-fluid img_pop">
      		</div>

      		<div class="col-md-7">
      			<div class="tit_pop">OFERTA-2</div>

      			<div class="subtit_pop">Descripción breve oferta</div>

      			<div class="linea_pop"></div>

      			<div class="texto_pop">
      				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat ligula neque, eget sagittis orci ultricies id. Pellentesque scelerisque accum
      			</div>
      		</div>
      	</div>

      	<div class="row margen_arriba_5 margen_abajo_5">
      		<div class="col-md-5">
      			<img src="assets/imagenes/proposal_2.png" class="img-fluid img_pop">
      		</div>

      		<div class="col-md-7">
      			<div class="tit_pop">OFERTA-3</div>

      			<div class="subtit_pop">Descripción breve oferta</div>

      			<div class="linea_pop"></div>

      			<div class="texto_pop">
      				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat ligula neque, eget sagittis orci ultricies id. Pellentesque scelerisque accum
      			</div>
      		</div>
      	</div>

        <a href="#" class="bot_postulate">POSTULATE</a>
      </div> -->
     <!-- <div class="modal-footer text-center">-->
      	
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>-->
    <!--  </div> -->
    </div>
  </div>
</div>

<footer></footer>